<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obesity Vs. Fast Food</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
        <div class="container">

                <div class="row">
                    <div class="col-md-12 jumbotron2 text-center">
                        <h1>Recipes X Ingredients</h1>
                        <p>Explore Cuisines and their ingredients below</p>
                    </div>
                </div>
        </div>

        <div id="map"></div>
        <script type="text/javascript" src="{{ url_for('static', filename='logics.js') }}"></script>
        

    <br></br>
	<br>
	<br>
	
	<script>
    AOS.init();
    </script>

    <div class="container">
        
        <div class="row">
			<div data-aos="fade-right">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class='panel-title'>Analysis Findings/possible sidebar</h3>
							
                        </div>
                    </div>
                    <div class="findings">
                       <div class="sidenav">
							  <a href="#about">Home</a>
							  <a href="#services">Analysis</a>
							</div>
                    </div>
                </div>
			</div>
				<div class="col-md-8">
					<div data-aos="fade-left">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class='panel-title'>Graph of somek kind with a dropdown for different analysis</h3>
							</div>
						</div>
						<div id="plot"></div>
						<script type="text/javascript" src="{{ url_for('static', filename='data.js') }}"></script>
						<script type="text/javascript" src="{{ url_for('static', filename='plot.js') }}"></script>
					</div>
				</div>
        </div>

        <br></br>


        <div class="row">
			<div data-aos="fade-up">
				
            	<div class="col-md-12">
                	<div class="panel panel-primary">              
                    
                    	
					</div>
				</div>
			</div>
		</div>

    </div>

</body>
</html>
