<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Obesity Vs. Fast Food</title>
    <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!--<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />-->
    <!--<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>-->
	<!--<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
        <div class="container">

                <div class="row">
                    <div class="col-md-12 jumbotron2 text-center">
                        <h1>Recipes X Ingredients</h1>
                        <p>Explore Cuisines and their ingredients below</p>
                    </div>
                </div>
        </div>

        
       <!-- <script type="text/javascript" src="{{ url_for('static', filename='logics.js') }}"></script>-->

	
    <div class="container">
        <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class='panel-title'>Navigation Bar</h3>
							
                        </div>
                    </div>
                    <div class="findings">
                       <ul class="nav nav-pills nav-stacked" role="tablist">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">Analysis</a></li>
						      
					  </ul>
                    </div>
                </div>
			</div>
        </div>
        <br></br>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class='panel-title'>Ingrediant Affinity</h3>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown button
                    </button>
    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">)
                    <a class="dropdown-item" onclick="pictureChange()" href="#">Action</a><br>
                    <a class="dropdown-item" onclick="pictureChange()" href="#">Another action</a><br>
                    <a class="dropdown-item" onclick="pictureChange()" href="#">Something else here</a>
                    </div>
                </div>
            </div>
        </div>
<div id ="theImage"></div>
    </div>


    <script>
            function pictureChange()
            {
                  document.getElementById("theImage").src="a.jpeg";
            }
         </script>


</body>
</html>

